<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body class="container">
    <h1>Hello From @Model.Noun1()</h1>
    <p>Dear @Model.Name(),</p>
    <p>How @Model.Verb1() you? I hopes that you are having a nice weekend. I'm vacationing in @Model.Location() while I learn programming! </p>
    <p>@Model.Name(), you would not believe how @Model.Exclamation() @Model.Adjective() it is here. I should have gone to the moon instead.</p>
    <p>But I @Model.Verb2() programming a lot, so I've got that going for me. </p>
    <p>Looking forward to seeing you soon. I fly back in @Model.Number() days. I'll bring you back a @Model.Noun2(). </p>
    <p>Cheers,</p>
    <p>Travel Enthusiast Santa Clause</p>
  </body>
</html>
